body{
font-family:Arial;
margin:0;
background:#f5f5f5;
}


.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#0a2540;
color:white;
padding:15px;
}


.logo{
font-size:20px;
font-weight:bold;
}


.nav-links{
list-style:none;
display:flex;
gap:25px;
}


.nav-links a{
color:white;
text-decoration:none;
}


.profile{
position:relative;
}


#profileBtn{
background:none;
border:none;
font-size:22px;
cursor:pointer;
color:white;
}


.dropdown{
display:none;
position:absolute;
right:0;
top:40px;
background:white;
box-shadow:0 3px 10px rgba(0,0,0,0.2);
border-radius:6px;
}


.dropdown a{
display:block;
padding:10px 15px;
text-decoration:none;
color:black;
}


.dropdown a:hover{
background:#eee;
}


.show{
display:block;
}


.hero{
text-align:center;
padding:40px;
background:#d9e3f0;
}


.filters{
text-align:center;
margin:20px;
}


.filters input{
padding:8px;
margin-right:10px;
}


.filters button{
margin:5px;
padding:10px 14px;
cursor:pointer;
}


.cards{
display:grid;
grid-template-columns:repeat(2,260px);
gap:25px;
justify-content:center;
padding:40px;
}


.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 2px 8px rgba(0,0,0,0.15);
text-align:center;
}


.btn{
margin-top:10px;
padding:8px 15px;
background:#0a2540;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}


footer{
background:#0a2540;
color:white;
text-align:center;
padding:12px;
}